.button {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 153px;
    height: 32px;
    border-radius: 5px;
    border: none;
    background: #C70101;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    &_main {
        width: 303px;
        height: 54px;
        font-size: 16px;
        margin-top: 65px;
    }

    &_submit {
        width: 100%;
        background: #C70101;
        height: 58px;
        font-size: 16px;
    }
    
    
}