.carousel {
    padding-top: 108px;
    &__inner{
        position: relative;
        max-width: 750px;
        margin: 0 auto;


    }


    .slick-prev {
        img{
            width: 30px;
            height: 50px;
        }
        background: none;
        border: none;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;

    }
    .slick-next{
        img{
            width: 30px;
            height: 50px;
        }
        background: none;
        border: none;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -66px;
    }

}
